---
import BaseLayout from "../layouts/Base.astro";
import styles from "./index.module.css";
import Typewriter from "../components/Typewriter.jsx";
---

<BaseLayout title="Home">
  <section class={styles.introCard}>
    <div class={styles.headerRow}>
      <img
        src="/avatar.jpg"
        alt="Ben Saff avatar"
        class="w-[90px] h-[90px] rounded-full object-cover shadow-[0_0.25rem_1rem_rgba(0,0,0,0.08)] flex-shrink-0 p-2 sm:w-[140px] sm:h-[140px] avatar"
      />
      <div class={styles.introTextCol}>
        <Typewriter text="Hello, I'm Ben Saff" className={styles.mainHeader} client:load />
        <p class={styles.oneLiner}>
          I'm a full stack product engineer;
          <br />
          Transmuting ideas into technology ⚡️
        </p>
      </div>
    </div>
  </section>
  <section class={styles.pageSection}>
    <h2>About Me</h2>
    <div class={styles.textContainer}>
      <div class={styles.iconTextRow}>
        <div class={styles.iconImg}>
          <img src="/philly-sketch.png" alt="City icon" />
        </div>
        <p>
          I live well in Philadelphia—I'm never more than a short bike ride away from wonderful <a
            href="https://www.paradigmarts.org/"
            target="_blank"
            rel="noreferrer">art galleries</a
          >, <a href="https://utphilly.com/" target="_blank" rel="noreferrer">concerts</a>, <a
            href="http://royalsushiandizakaya.com/"
            target="_blank"
            rel="noreferrer">restaurants</a
          >, parks, and friends.
        </p>
      </div>
      <div class={styles.iconTextRow}>
        <img src="/hobbies.png" alt="Hobbies icon" class={styles.iconImg} />
        <p>
          In my free time I enjoy
          <a
            href="https://www.goodreads.com/user/show/23506884-ben-saff"
            target="_blank"
            rel="noreferrer">reading</a
          >, writing, music, meditation, yoga, and <a href="https://www.lemonhillaikido.com/"
            >aikido</a
          >.
        </p>
      </div>
    </div>
    <div class={styles.wellWish}>
      <p>
        I wish you peace and good health in {new Date().getFullYear()}
      </p>
    </div>
  </section>
</BaseLayout>
