---
import BaseLayout from "../layouts/Base.astro";
import styles from "./music.module.css";
---

<BaseLayout title="Music">
  <section>
    <h2>My music projects</h2>
    <div class={styles.subtitle}>
      Here's some music I've created with my friends over the years.
    </div>
    <div class={styles.bandcampCards}>
      <div class={styles.bandcampCard}>
        <div class={styles.iframeSubtitle}>Kintsugi (2015–Present)</div>
        <iframe
          style="border: 0; width: 100%; height: 120px;"
          src="https://bandcamp.com/EmbeddedPlayer/track=188520554/size=large/bgcol=ffffff/linkcol=0687f5/tracklist=false/artwork=small/transparent=true/"
          seamless
          ><a href="https://kintsugimusic.bandcamp.com/track/kali">Kali by Kintsugi</a></iframe
        >
      </div>
      <div class={styles.bandcampCard}>
        <div class={styles.iframeSubtitle}>Soul Eater (2015–2016)</div>
        <iframe
          style="border: 0; width: 100%; height: 120px;"
          src="https://bandcamp.com/EmbeddedPlayer/album=560240247/size=large/bgcol=ffffff/linkcol=0687f5/tracklist=false/artwork=small/transparent=true/"
          seamless
          ><a href="https://souleatermusic.bandcamp.com/album/winter-collection">Winter Collection
          by Soul Eater</a></iframe
        >
      </div>
      <div class={styles.bandcampCard}>
        <div class={styles.iframeSubtitle}>Maris Lane (2011–2015)</div>
        <iframe
          style="border: 0; width: 100%; height: 120px;"
          src="https://bandcamp.com/EmbeddedPlayer/album=83839495/size=large/bgcol=ffffff/linkcol=0687f5/tracklist=false/artwork=small/track=2430430375/transparent=true/"
          seamless
          ><a href="https://marislane.bandcamp.com/album/reflections">Reflections by Maris Lane</a></iframe
        >
      </div>
    </div>
  </section>
</BaseLayout>
